* {
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: 'Asap', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  text-align: center;
  }

nav {
  position: fixed;
  /* top: 10px; */
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  padding: 30px;
  border: 1px solid black;
  z-index: 1;
  background-color: rgb(228, 228, 228);
}



@media screen and (min-width: 768px) {

  body {
    padding-right: 11.5%;
  }

  .navbar {
    display:flex;
    justify-content: flex-end;
    align-self: center;
  }

  nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    left: 88%;
    z-index: 15;
    /* width: 12%; */
    /* margin-right: 12%;
    margin-right: -250px; */
  }

  header {
    position: relative;
    top: 0px;
  }

  .bio {
    /* display: unset !important; */
    margin-top: 0%;
  }

  .social-links {
    flex-direction: column;
    line-height: 40px;
  }
}

header {
  position: relative;
  top: 40px;
  padding:80px;
  font-size: 30px;
  border: 1px solid black;
  background-color: grey;
}

section {
  /* position: relative; */
  padding: 60px;
  /* border: 1px solid black; */
}

screen and (min-width: 444px) {
  .divider {
    margin-top: 5%
  }

  .divider2 {
    margin-top: 5%;
  }

  .divider3 {
    margin-top: 2%;
  }
}

.divider {
  max-height: 8px;
  /* position: absolute; */
  margin-top: 40%;
  z-index: 10;
}

  .divider2 {
  max-height: 45px;
  margin-top: 40%;
  z-index: 10;
}

.divider3 {
  max-height: 45px;
  margin-top: 20%;
  z-index: 10;
}

/* header.divider-line {
  position: relative;
  margin-top: 90%;
  padding: 40px;
} */

/* .divider-line {
  display: flex;
  align-self: center;
} */

.face {
  height:90%;
  width: 100%;
  /* height: 70%;
  width: 95%; */
  display: flex;
  align-self: center;
}

.headshot {
  position: relative;
  top: 40px;
}

.project {
  border: 1px solid black;
  height:90%;
  width: 100%;
  /* width: auto; */
  /* height: 70%;
  width: 95%; */
  display: flex;
  align-self: center;
}

@media screen and (min-width: 844px) {
  .project {
    width: auto;
  }
}

h1 {
  height: 50px;
}

h3 {
  height: 50px;
}

.project-title {
  height: 50px;
}

.project-info{
  text-align: left;
  position: relative;
  top: 30px;
}

.project-info-p{
  line-height: 20px;
}


img {
  object-fit: cover;
  max-width:100%;
  max-height:100%;  
}

.color {
  /* height: 100%; */
  /* height: 1080px; */

  /* height: auto; */
  overflow: hidden;
  border: 1px solid black;
  background-color: rgb(78, 78, 78);
  display: flex;
  align-content: space-evenly;
  flex-direction: column;
}

.welcome {
  margin-bottom: 110px;
}

.bio {
  margin-top: 80px;
}

.color-h1 {
  line-height: 40px;
  
}

.color-p {
  position: relative;
  /* top: 270px; */
  margin-top: 40px;
  line-height: 27px;
  /* margin-bottom: 350px; */
}

.colour {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(194, 194, 194)
} 

.culor {
  border: 1px solid black;
  background-color: rgb(78, 78, 78)
}

.social-links{
  position: relative;
  /* top: 30px; */
  display: flex;
  justify-content: space-around;
}

p {
  align-self: center;
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  background-color: rgb(109, 109, 109)
}